<div>
  <h2 class="name">{{name}}</h2>
  <img src="{{flag}}" alt="" width="500" class="flag" />
  <p class="Capital">{{capital}}</p>
  <p class="population">{{population}}</p>
  <p class="languages">{{languages.name}}</p>
</div>